@model Urun
@{
    ViewData["Title"] = ViewBag.ActionMode; ;
}

<div class="m-4">
    <div class="bg-success text-white p-4">
        <h2>Ürün Ekle / Düzenle</h2>
    </div>
    <form asp-action="@(ViewBag.ActionMode)" method="post">
        <input type="hidden" name="original.Id" value="@Model.Id" />
        <input type="hidden" name="original.Name" value="@Model.UrunKodu" />
        <input type="hidden" name="original.Name" value="@Model.UrunAdi" />
        <input type="hidden" name="original.Name" value="@Model.SatisFiyati" />
        <input type="hidden" name="original.Name" value="@Model.AlisFiyati" />
        <input type="hidden" name="original.Name" value="@Model.Aciklama" />
        <input type="hidden" name="original.Name" value="@Model.Resim" />
        <input type="hidden" name="original.Name" value="@Model.Kategori" />


        <div class="row">
            <div class="col-6">
                <div class="bg-primary text-white p-2 mt-3">
                    Ürün
                </div>
                <div class="form-group">
                    <label>Ürün Kodu</label>
                    <input asp-for="UrunKodu" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input asp-for="UrunAdi" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Satış Fiyatı</label>
                    <input asp-for="SatisFiyati" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Alış Fiyatı</label>
                    <input asp-for="AlisFiyati" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <input asp-for="Aciklama" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ürün Resmi</label>
                    <input asp-for="Resim" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    <br/>
                    @Html.DropDownListFor(x => x.KategoriId, new SelectList(ViewBag.Kategoriler, "Id", "Ad"),"Kategori Seçiniz...", new { @class = "form-control"})
                    @*<input asp-for="Kategori" class="form-control" />*@
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>

